
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-image{
    /* height: 100vh; */
   animation: kalibe 2s linear infinite;
   scale:.1;
   transform: rotate(100);
   border-radius: 50%;
   transform: rotate(360%);
   overflow: hidden;
   
}

.my-p{
    line-height: 2.3rem;
}
body{
  height: 100vh;
     
}
.ql-editor{
    font-size: 1.05rem;

}

@keyframes kalibe {
    0%{
        scale:.2;
   transform: rotate(160);

    }
    50%{
        scale:.3;
   transform: rotate(260);

       
    }
    100%{
        scale:.2;
   transform: rotate(360);
        
    }
}


.post-content{
font-size: 1.05rem;
}

.post-content p{
    margin-bottom: 0.5rem;
    color: rgb(165, 165, 165);
}

.post-content h1{
    font: 1.5rem;
    font-weight: 600;
    font-family: sans-serif ;
    margin: 1.5rem 0;
}

.post-content h2{
    font-size: 1.4rem;
    font-weight: 600;
    font-family: sans-serif ;
    margin: 1.5rem 0;
}

.post-content h3{
    font-size: 1.2rem;
    background-color: black;
    padding: 10px 10px;
    margin: 10px 0 ;
    border-radius: 10px ;
    color: rgb(165, 165, 165);
}

.post-content a{
    color: rgb(73, 149, 199);
    text-decoration: none;
}